.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.products__single {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex: 1fr 1fr 1fr 1fr;
  display: flex;
  flex-direction: column;
}